h1{
    font-family: Helvetica;
    font-size:40px;
}
h2{
    font-style:italic;
}

h3{
    font-family: Helvetica;
}
.center {
    margin: auto;
    width: 90%;
    padding: 5px;
}

.margin_left{
    margin-left: auto;
    margin-right:0px;
    vertical-align:middle;
  
}

.margin_right{
    margin:auto;
    width:40px;
    text-align:center;
}

.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-fill:auto;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    -webkit-column-rule: 2px outset ; /* Chrome, Safari, Opera */
    -moz-column-rule: 2px outset ; /* Firefox */
    column-rule: 2px outset;
}

.verification{
	margin:5%;
	padding:100px;
}